<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Package delivery</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card-title>Shipment Information</ion-card-title>
  <ion-item lines="full" color="success">
    <ion-label position="floating">Track number</ion-label>
    <ion-input placeholder="Track number" id="track_number" color="dark" (focusout)="CheckTracknumber($event)" type="number" align="center" required>
    </ion-input>
  </ion-item>

  <ion-item lines="full" color="secondary">
    <ion-label position="floating">Sender name</ion-label>
    <input type="text" id="id_d" hidden="true">
    <input type="text" id="status_d" hidden="true">
    <ion-input placeholder="Write your name" id="name_d" color="dark" align="center" required>
    </ion-input>
  </ion-item>

  <ion-item lines="full" color="secondary"> 
    <ion-label position="floating"> Shipping Address</ion-label>
    <ion-input placeholder="Write street, Zip code and number" id="addres_d" color="dark" align="center" required>
    </ion-input>
  </ion-item>

  <ion-item lines="full" color="success"> 
    <ion-label position="floating">Ship to</ion-label>
    <ion-input placeholder="Contact name  " id="ShiptoName_d" color="dark" align="center" required>
    </ion-input>
  </ion-item>

  <ion-item lines="full" color="secondary">
    <ion-label position="floating">Phone</ion-label>
    <ion-input placeholder="Phone" id="phone_d" color="dark" (focusout)="CheckPhoneDelivery($event)" type="number" align="center" required>
    </ion-input>
  </ion-item>

   
    <div id="container">
        <ion-button (click)="PictureOptions()" expand="full" id="PhotoButton_d" >Take Picture</ion-button>
        
        <img [src]="clickedImage" id="Photo"/>
  
      <ion-button expand="block" (click)="SaveInfoDeliver()" id="savebutton_delivery" color="dark">Save</ion-button>
      <ion-button expand="block" (click)="UpdateDelivery()" id="Updatebutton_delivery" hidden="true" color="dark">Update</ion-button>
  
      
      <div id="preloader" align="center" style="display: none">
        <img src="../assets/icon/s.gif" alt="validando...">
     </div>
  
    </div>
    
  <div align="center">
    <h1>Delivery List</h1>
  </div>

  <ion-item *ngFor="let D of DeliveryPDFServer">
    <ion-card style="width: 100%;" align="center" color="medium">
      <ion-label>

        <ion-buttons>
        
          <ion-button (click)="EditDelivery(D.id_delivery)" id="editdeliverymbutton" style="font-size: 20px;" >
            <ion-icon name="create-sharp" color="primary"></ion-icon>
          </ion-button>

          <ion-button (click)="DeleteDelivery(D.id_delivery)" id="deletedeliverysbutton" style="font-size: 20px;">
            <ion-icon name="trash-sharp" color="danger"></ion-icon>
          </ion-button>
        

        </ion-buttons>   
                <p>Track number:</p>
                <h1>{{D.track_d}}</h1>
                <br>        
                <p>Sender name:</p>
                <h1>{{D.sender_d}}</h1>
                <br>
                <p>Shipping address:</p>
                <h1>{{D.ship_address_d}}</h1>
                <br>
                <p>Ship to: </p>
                <h1>{{D.ship_to_d}}</h1>
                <br>
                <p>Photo </p>
                <img src="http://192.168.3.41/BACKEND_LMovil/assets/myapp/img/{{D.Photo_d}}"/>
                <br>
      

          

      </ion-label>

      <br>
      
    </ion-card>
      
  </ion-item>

</ion-content>
