<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">
    <img src="../assets\icon/Homen.jpg" width="450px" height="250px">
    <h1>Trips List</h1>
  </div>
  

  <ion-item *ngFor="let T of TripsServer">
    <ion-card style="width: 100%;" align="center" color="medium">
      <ion-label>

       

                        <p>Customer</p>
                        <h1>{{T.name_c}}</h1>
                        <br>
                        <p>Last name </p>
                        <h1>{{T.last_name_c}}</h1>
                        <br>
                        <p>Phone</p>
                        <h1>{{T.phone_c}}</h1>
                        <br>
                        <p>Destination</p>
                        <h1>{{T.destination_rese}}</h1>
                        <br>
                        <p>Driver</p>
                        <h1>{{T.driver_c}}</h1>
                        <br>
                        <p>Date</p>
                        <h1>{{T.date}}</h1>
                        <br>
  

         
      </ion-label>

      <br>
      
    </ion-card>
      
  </ion-item>

</ion-content>

